/blobFiles/*
/img/*
!/img/bc1-min.jpg
!/img/bc1.jpg
!/img/bc1.png
!/img/exclamation_yellow.svg
!/img/exclamation.svg
!/img/LogoVoice.png
!/img/question.svg
!/img/sound.svg
!/img/user_default.png
!/img/user_default2.png